In [10]:
import numpy as np
import kagglehub


# Descargar la última versión del dataset
path = kagglehub.dataset_download("mohammadtalib786/retail-sales-dataset")

print("Path to dataset files:", path)

def cargar_datos(path):
    # Definir los tipos de datos para cada columna
    dtypes = [
        ('Transaction_ID', 'U10'),       # Columna 1: ID transacción (cadena)
        ('Date', 'U10'),                 # Columna 2: Fecha (cadena)
        ('Customer_ID', 'U10'),          # Columna 3: ID cliente (cadena)
        ('Gender', 'U10'),               # Columna 4: Género (cadena)
        ('Age', int),                    # Columna 5: Edad (entero)
        ('Product_Category', 'U20'),     # Columna 6: Categoría de producto (cadena)
        ('Quantity', int),               # Columna 7: Cantidad (entero)
        ('Price_per_Unit', float),       # Columna 8: Precio por unidad (decimal)
        ('Total_Amount', float)          # Columna 9: Monto total (decimal)
    ]

    # Cargar el archivo CSV utilizando np.genfromtxt con los tipos de datos especificados
    retail = np.genfromtxt(path, delimiter=',', skip_header=1, dtype=dtypes, encoding='utf-8')
    return retail

if __name__ == "__main__":
    ruta_archivo = path + "/retail_sales_dataset.csv"
    retail = cargar_datos(ruta_archivo)

    # Imprimir las primeras filas para verificar la carga
    print(retail[:5])

    # Ejemplos de cómo acceder y trabajar con columnas específicas
    print("Transaction IDs:", retail['Transaction_ID'])  # Columna de IDs de transacciones
    print("Ages:", retail['Age'])                        # Columna de edades
    print("Total Amount Mean:", np.mean(retail['Total_Amount']))  # Calcular la media del Monto total

Path to dataset files: /root/.cache/kagglehub/datasets/mohammadtalib786/retail-sales-dataset/versions/1
[('1', '2023-11-24', 'CUST001', 'Male', 34, 'Beauty', 3,  50.,  150.)
 ('2', '2023-02-27', 'CUST002', 'Female', 26, 'Clothing', 2, 500., 1000.)
 ('3', '2023-01-13', 'CUST003', 'Male', 50, 'Electronics', 1,  30.,   30.)
 ('4', '2023-05-21', 'CUST004', 'Male', 37, 'Clothing', 1, 500.,  500.)
 ('5', '2023-05-06', 'CUST005', 'Male', 30, 'Beauty', 2,  50.,  100.)]
Transaction IDs: ['1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14' '15' '16'
 '17' '18' '19' '20' '21' '22' '23' '24' '25' '26' '27' '28' '29' '30'
 '31' '32' '33' '34' '35' '36' '37' '38' '39' '40' '41' '42' '43' '44'
 '45' '46' '47' '48' '49' '50' '51' '52' '53' '54' '55' '56' '57' '58'
 '59' '60' '61' '62' '63' '64' '65' '66' '67' '68' '69' '70' '71' '72'
 '73' '74' '75' '76' '77' '78' '79' '80' '81' '82' '83' '84' '85' '86'
 '87' '88' '89' '90' '91' '92' '93' '94' '95' '96' '97' '98' '99' '100'
 '101' '102' '103' '104' '105' '106' '107' '108' '109' '110' '111' '112'
 '113' '114' '115' '116' '117' '118' '119' '120' '121' '122' '123' '124'
 '125' '126' '127' '128' '129' '130' '131' '132' '133' '134' '135' '136'
 '137' '138' '139' '140' '141' '142' '143' '144' '145' '146' '147' '148'
 '149' '150' '151' '152' '153' '154' '155' '156' '157' '158' '159' '160'
 '161' '162' '163' '164' '165' '166' '167' '168' '169' '170' '171' '172'
 '173' '174' '175' '176' '177' '178' '179' '180' '181' '182' '183' '184'
 '185' '186' '187' '188' '189' '190' '191' '192' '193' '194' '195' '196'
 '197' '198' '199' '200' '201' '202' '203' '204' '205' '206' '207' '208'
 '209' '210' '211' '212' '213' '214' '215' '216' '217' '218' '219' '220'
 '221' '222' '223' '224' '225' '226' '227' '228' '229' '230' '231' '232'
 '233' '234' '235' '236' '237' '238' '239' '240' '241' '242' '243' '244'
 '245' '246' '247' '248' '249' '250' '251' '252' '253' '254' '255' '256'
 '257' '258' '259' '260' '261' '262' '263' '264' '265' '266' '267' '268'
 '269' '270' '271' '272' '273' '274' '275' '276' '277' '278' '279' '280'
 '281' '282' '283' '284' '285' '286' '287' '288' '289' '290' '291' '292'
 '293' '294' '295' '296' '297' '298' '299' '300' '301' '302' '303' '304'
 '305' '306' '307' '308' '309' '310' '311' '312' '313' '314' '315' '316'
 '317' '318' '319' '320' '321' '322' '323' '324' '325' '326' '327' '328'
 '329' '330' '331' '332' '333' '334' '335' '336' '337' '338' '339' '340'
 '341' '342' '343' '344' '345' '346' '347' '348' '349' '350' '351' '352'
 '353' '354' '355' '356' '357' '358' '359' '360' '361' '362' '363' '364'
 '365' '366' '367' '368' '369' '370' '371' '372' '373' '374' '375' '376'
 '377' '378' '379' '380' '381' '382' '383' '384' '385' '386' '387' '388'
 '389' '390' '391' '392' '393' '394' '395' '396' '397' '398' '399' '400'
 '401' '402' '403' '404' '405' '406' '407' '408' '409' '410' '411' '412'
 '413' '414' '415' '416' '417' '418' '419' '420' '421' '422' '423' '424'
 '425' '426' '427' '428' '429' '430' '431' '432' '433' '434' '435' '436'
 '437' '438' '439' '440' '441' '442' '443' '444' '445' '446' '447' '448'
 '449' '450' '451' '452' '453' '454' '455' '456' '457' '458' '459' '460'
 '461' '462' '463' '464' '465' '466' '467' '468' '469' '470' '471' '472'
 '473' '474' '475' '476' '477' '478' '479' '480' '481' '482' '483' '484'
 '485' '486' '487' '488' '489' '490' '491' '492' '493' '494' '495' '496'
 '497' '498' '499' '500' '501' '502' '503' '504' '505' '506' '507' '508'
 '509' '510' '511' '512' '513' '514' '515' '516' '517' '518' '519' '520'
 '521' '522' '523' '524' '525' '526' '527' '528' '529' '530' '531' '532'
 '533' '534' '535' '536' '537' '538' '539' '540' '541' '542' '543' '544'
 '545' '546' '547' '548' '549' '550' '551' '552' '553' '554' '555' '556'
 '557' '558' '559' '560' '561' '562' '563' '564' '565' '566' '567' '568'
 '569' '570' '571' '572' '573' '574' '575' '576' '577' '578' '579' '580'
 '581' '582' '583' '584' '585' '586' '587' '588' '589' '590' '591' '592'
 '593' '594' '595' '596' '597' '598' '599' '600' '601' '602' '603' '604'
 '605' '606' '607' '608' '609' '610' '611' '612' '613' '614' '615' '616'
 '617' '618' '619' '620' '621' '622' '623' '624' '625' '626' '627' '628'
 '629' '630' '631' '632' '633' '634' '635' '636' '637' '638' '639' '640'
 '641' '642' '643' '644' '645' '646' '647' '648' '649' '650' '651' '652'
 '653' '654' '655' '656' '657' '658' '659' '660' '661' '662' '663' '664'
 '665' '666' '667' '668' '669' '670' '671' '672' '673' '674' '675' '676'
 '677' '678' '679' '680' '681' '682' '683' '684' '685' '686' '687' '688'
 '689' '690' '691' '692' '693' '694' '695' '696' '697' '698' '699' '700'
 '701' '702' '703' '704' '705' '706' '707' '708' '709' '710' '711' '712'
 '713' '714' '715' '716' '717' '718' '719' '720' '721' '722' '723' '724'
 '725' '726' '727' '728' '729' '730' '731' '732' '733' '734' '735' '736'
 '737' '738' '739' '740' '741' '742' '743' '744' '745' '746' '747' '748'
 '749' '750' '751' '752' '753' '754' '755' '756' '757' '758' '759' '760'
 '761' '762' '763' '764' '765' '766' '767' '768' '769' '770' '771' '772'
 '773' '774' '775' '776' '777' '778' '779' '780' '781' '782' '783' '784'
 '785' '786' '787' '788' '789' '790' '791' '792' '793' '794' '795' '796'
 '797' '798' '799' '800' '801' '802' '803' '804' '805' '806' '807' '808'
 '809' '810' '811' '812' '813' '814' '815' '816' '817' '818' '819' '820'
 '821' '822' '823' '824' '825' '826' '827' '828' '829' '830' '831' '832'
 '833' '834' '835' '836' '837' '838' '839' '840' '841' '842' '843' '844'
 '845' '846' '847' '848' '849' '850' '851' '852' '853' '854' '855' '856'
 '857' '858' '859' '860' '861' '862' '863' '864' '865' '866' '867' '868'
 '869' '870' '871' '872' '873' '874' '875' '876' '877' '878' '879' '880'
 '881' '882' '883' '884' '885' '886' '887' '888' '889' '890' '891' '892'
 '893' '894' '895' '896' '897' '898' '899' '900' '901' '902' '903' '904'
 '905' '906' '907' '908' '909' '910' '911' '912' '913' '914' '915' '916'
 '917' '918' '919' '920' '921' '922' '923' '924' '925' '926' '927' '928'
 '929' '930' '931' '932' '933' '934' '935' '936' '937' '938' '939' '940'
 '941' '942' '943' '944' '945' '946' '947' '948' '949' '950' '951' '952'
 '953' '954' '955' '956' '957' '958' '959' '960' '961' '962' '963' '964'
 '965' '966' '967' '968' '969' '970' '971' '972' '973' '974' '975' '976'
 '977' '978' '979' '980' '981' '982' '983' '984' '985' '986' '987' '988'
 '989' '990' '991' '992' '993' '994' '995' '996' '997' '998' '999' '1000']
Ages: [34 26 50 37 30 45 46 30 63 52 23 35 22 64 42 19 27 47 62 22 50 18 35 49
 64 28 38 43 42 39 44 30 50 51 58 52 18 38 23 45 34 22 48 22 55 20 40 54
 54 27 27 36 34 38 31 26 63 18 62 30 21 18 57 49 51 45 48 25 56 43 51 20
 29 18 61 22 47 47 34 64 40 32 54 38 31 19 28 56 55 51 55 51 35 47 32 44
 51 55 50 41 32 47 59 34 22 46 21 27 34 27 34 37 41 22 51 23 19 30 60 60
 28 64 40 33 48 28 33 25 21 57 21 42 20 49 20 44 46 49 36 38 22 35 45 59
 39 38 23 18 22 58 29 43 63 51 31 43 62 44 26 43 64 39 64 47 60 34 43 53
 18 25 52 32 64 39 31 43 45 40 31 41 19 62 43 31 24 20 64 40 63 60 64 62
 35 55 52 32 42 54 45 27 56 34 56 39 43 61 42 34 30 37 42 21 27 20 58 62
 35 64 53 64 39 51 64 25 57 61 36 59 58 54 23 43 51 62 23 54 50 39 38 23
 23 21 47 28 47 48 41 26 20 48 57 54 53 41 48 23 19 37 45 28 21 32 23 47
 55 19 32 28 25 43 62 61 22 23 43 21 36 37 50 37 29 64 18 43 31 55 54 28
 53 30 60 20 50 23 27 22 40 27 61 19 30 57 19 37 18 54 26 34 26 28 32 41
 55 52 47 48 22 61 31 28 26 51 29 52 52 18 57 39 46 25 28 58 54 31 47 52
 38 54 22 36 31 43 21 42 62 59 42 35 57 25 56 57 31 49 55 50 40 32 50 42
 34 50 64 19 31 57 57 56 23 23 20 24 25 59 32 64 46 50 47 56 44 53 46 55
 50 54 44 50 21 39 19 27 22 27 50 55 30 48 64 53 62 41 32 46 25 22 46 64
 21 29 62 19 44 48 53 53 43 60 44 22 37 28 27 57 55 23 25 40 64 43 63 60
 29 43 30 57 35 42 50 64 57 60 29 61 53 21 22 54 25 59 45 48 26 46 31 57
 58 39 28 40 18 63 54 38 43 63 53 40 18 57 32 38 64 26 26 27 43 58 52 42
 43 28 55 19 24 35 44 51 44 34 60 61 41 42 24 23 41 50 46 60 39 43 45 38
 24 34 37 58 37 39 45 57 24 18 49 30 47 40 36 49 47 46 62 46 47 33 57 36
 35 18 31 64 19 45 47 55 21 18 25 46 56 20 49 27 27 36 63 51 50 40 45 49
 24 46 25 18 20 41 40 25 64 54 20 50 45 64 25 51 52 49 41 31 49 63 60 33
 21 54 38 31 48 35 24 27 24 50 40 38 36 36 53 46 35 19 18 64 22 37 28 59
 19 20 40 29 37 22 54 55 47 26 51 61 52 39 61 41 34 27 47 63 40 49 34 34
 31 26 57 19 62 42 56 26 39 60 63 21 43 46 62 51 40 54 28 23 35 38 59 53
 58 55 51 34 54 42 55 29 40 59 39 38 44 48 23 44 57 51 29 62 24 27 62 34
 43 38 45 63 19 60 18 53 43 46 38 28 57 28 53 56 57 52 51 64 41 39 22 50
 53 64 37 36 52 60 34 62 60 51 26 43 19 26 26 57 34 18 42 60 57 59 42 56
 52 20 54 61 61 47 55 51 29 36 54 61 34 27 64 29 33 41 36 25 48 38 34 40
 54 33 23 25 42 35 42 29 32 43 58 62 43 64 49 27 33 24 34 40 43 38 39 24
 31 32 24 26 25 40 46 35 48 47 56 52 35 59 56 34 31 48 41 52 61 62 51 20
 54 60 57 43 40 61 56 32 21 46 39 42 30 35 50 33 62 59 61 19 52 59 51 47
 30 30 35 49 49 52 56 63 46 46 61 33 61 64 27 47 42 56 37 22 18 47 20 62
 31 47 21 35 54 42 18 63 32 26 32 41 21 29 54 54 60 23 56 63 41 28 30 51
 42 24 21 25 37 46 62 63 27 60 51 43 58 20 23 22 22 64 40 26 52 37 59 52
 35 34 41 20 49 52 55 30 64 42 26 21 31 54 51 28 58 20 45 46 26 20 42 51
 29 59 26 32 57 42 22 28 51 41 32 55 25 22 43 35 23 54 30 45 22 30 34 57
 62 49 46 20 57 51 57 44 30 62 50 23 41 36 33 57 45 50 58 30 60 62 42 59
 53 44 55 24 22 60 62 48 40 59 27 49 60 47 56 48 35 53 19 31 30 46 29 56
 19 49 30 63 44 58 34 57 48 51 41 62 52 23 36 47]
Total Amount Mean: 456.0

### Advertencia  

Aunque podemos modificar la base de datos con numpy para que este soporte variables categoricas, existen multiples limitaciones si queremos trabajar con este tipo de variables sin utilizar la biblioteca pandas, ya que numpy esta orientado principalmente para tratar con valores númericos.

In [12]:
# Importaremos la biblioteca pandas
import pandas as pd
retail_df = pd.DataFrame(retail)
retail_df.head()

,Transaction_ID,Date,Customer_ID,Gender,Age,Product_Category,Quantity,Price_per_Unit,Total_Amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50.0,150.0
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500.0,1000.0
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30.0,30.0
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500.0,500.0
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50.0,100.0

In [14]:
# Total de ventas por categoría de producto
total_ventas_por_categoria = retail_df.groupby('Product_Category')['Total_Amount'].sum()
print("Total de ventas por categoría de producto:\n", total_ventas_por_categoria)

Total de ventas por categoría de producto:
 Product_Category
Beauty         143515.0
Clothing       155580.0
Electronics    156905.0
Name: Total_Amount, dtype: float64

In [15]:
# Promedio de ventas diarias por categoría de producto
retail_df['Date'] = pd.to_datetime(retail_df['Date'])  # Convertir a tipo datetime
promedio_ventas_diarias = retail_df.groupby('Product_Category').resample('D', on='Date')['Total_Amount'].mean()
print("Promedio de ventas diarias por categoría de producto:\n", promedio_ventas_diarias)

Promedio de ventas diarias por categoría de producto:
 Product_Category  Date
Beauty            2023-01-01    1500.0
                  2023-01-02      25.0
                  2023-01-03     600.0
                  2023-01-04     545.0
                  2023-01-05      50.0
                                 ...
Electronics       2023-12-28      37.5
                  2023-12-29     100.0
                  2023-12-30       NaN
                  2023-12-31      50.0
                  2024-01-01      30.0
Name: Total_Amount, Length: 1093, dtype: float64

In [16]:
# Identificar categorías de productos con mayores y menores ventas
total_cantidad_por_categoria = retail_df.groupby('Product_Category')['Quantity'].sum()
mayores_ventas = total_cantidad_por_categoria.idxmax()
menores_ventas = total_cantidad_por_categoria.idxmin()
print("Categoría con mayores ventas:", mayores_ventas)
print("Categoría con menores ventas:", menores_ventas)

Categoría con mayores ventas: Clothing
Categoría con menores ventas: Beauty

In [20]:
# Filtrar datos para mostrar solo ventas de una categoría específica
ventas_beauty = retail_df[retail_df['Product_Category'] == 'Beauty']['Total_Amount']
ventas_beauty

0       150.0
4       100.0
5        30.0
11       75.0
20      500.0
        ...
981      90.0
989    1000.0
993    1000.0
996      90.0
997     100.0
Name: Total_Amount, Length: 307, dtype: float64

### Operaciones adicionales

In [18]:
# Suma total de ventas y promedio de precio por unidad
suma_total = retail_df['Total_Amount'].sum()
promedio_precio = retail_df['Price_per_Unit'].mean()
print("Suma total de ventas:", suma_total)
print("Promedio de precio por unidad:", promedio_precio)

Suma total de ventas: 456000.0
Promedio de precio por unidad: 179.89